<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.project.drug.mapper.DrugSupportMapper">

    <resultMap id="drugSupportMap" type="DrugSupport">
        <id column="support_id" property="supportId"/>
        <result column="support_name" property="supportName"/>
        <result column="support_boss" property="supportBoss"/>
        <result column="support_phone" property="supportPhone"/>
        <result column="support_card" property="supportCard"/>
        <result column="support_address" property="supportAddress"/>
        <result column="support_status" property="supportStatus"/>
        <result property="createBy"      column="create_by"     />
        <result property="createTime"    column="create_time"   />
        <result property="updateBy"      column="update_by"     />
        <result property="updateTime"    column="update_time"   />
        <result property="remark"        column="remark"        />
    </resultMap>

    <sql id="selectDrugSupportVO">
        select support_id, support_name, support_boss, support_phone, support_card, support_address, support_status,
               create_by, create_time, update_by, update_time, remark
        from drugs_support
    </sql>

    <select id="selectAll" resultMap="drugSupportMap">
        <include refid="selectDrugSupportVO"></include>
    </select>

</mapper>